@tailwind base;
@tailwind components;
@tailwind utilities;
body, html{
    background-color: black;
}
h1{
    position: absolute;
    font-size: 70px;
    font-weight: 600; 
    top : 50vh;
    left : 50vw; 
    transform: translate(-50%,-50%);
    color: #fff;
 }